/* General Elements*/
body{
    background-color: #56244A;


    
}
div{
	background-color: #CA97A4;
	margin: 10px;
	width: 25%
}
div{
	border: solid 2px #AD7BB6;
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
    font-size: 30pt;
    color: #56244A;
}
ol{
    list-style: decimal inside; 
    text-align: center;
}
ul {
	list-style: disc inside;
    text-indent: 20px
    ;
}
/* Specfic Elements*/
div.header, div.gems{
	background-color: #CA97A4;
}
div.header, div.instructions{
	width: 50%;
}
/* Classes */
.numberToMatch, .winsAndLosses{
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 50%;
	width: 15%;
	height: 60px;
}
.userTotal{
    display: flex;
    flex-direction: row;
    justify-content: center;
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
}
.gemImage{
	height: 60px;
	margin: 10px;
}
/* IDs */
#blue{
	color: #3092c7;
}
#green{
	color: #00aa59;
}
#red{
	color: #ec4b5f;
}
#yellow{
	color: #ffc225;
}